@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: 'Open Sans Hebrew', serif;
    color: #223C61;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    color: #222;
    font-size: 35px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


html {
    position: relative;
    min-height: 100%;
}

.m-0 {
    margin: 0 !important
}

.mt-0 {
    margin-top: 0 !important
}

.mr-0 {
    margin-right: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.ml-0 {
    margin-left: 0 !important
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.m-3 {
    margin: 3px !important
}

.mt-3 {
    margin-top: 3px !important
}

.mr-3 {
    margin-right: 3px !important
}

.mb-3 {
    margin-bottom: 3px !important
}

.ml-3 {
    margin-left: 3px !important
}

.mx-3 {
    margin-right: 3px !important;
    margin-left: 3px !important
}

.my-3 {
    margin-top: 3px !important;
    margin-bottom: 3px !important
}

.m-5 {
    margin: 5px !important
}

.mt-5 {
    margin-top: 5px !important
}

.mr-5 {
    margin-right: 5px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.ml-5 {
    margin-left: 5px !important
}

.mx-5 {
    margin-right: 5px !important;
    margin-left: 5px !important
}

.my-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important
}

.m-10 {
    margin: 10px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.ml-10 {
    margin-left: 10px !important
}

.mx-10 {
    margin-right: 10px !important;
    margin-left: 10px !important
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.m-15 {
    margin: 15px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.ml-15 {
    margin-left: 15px !important
}

.mx-15 {
    margin-right: 15px !important;
    margin-left: 15px !important
}

.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important
}

.m-20 {
    margin: 20px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.ml-20 {
    margin-left: 20px !important
}

.mx-20 {
    margin-right: 20px !important;
    margin-left: 20px !important
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.m-25 {
    margin: 25px !important
}

.mt-25 {
    margin-top: 25px !important
}

.mr-25 {
    margin-right: 25px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.ml-25 {
    margin-left: 25px !important
}

.mx-25 {
    margin-right: 25px !important;
    margin-left: 25px !important
}

.my-25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important
}

.m-30 {
    margin: 30px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.ml-30 {
    margin-left: 30px !important
}

.mx-30 {
    margin-right: 30px !important;
    margin-left: 30px !important
}

.my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important
}

.m-35 {
    margin: 35px !important
}

.mt-35 {
    margin-top: 35px !important
}

.mr-35 {
    margin-right: 35px !important
}

.mb-35 {
    margin-bottom: 35px !important
}

.ml-35 {
    margin-left: 35px !important
}

.mx-35 {
    margin-right: 35px !important;
    margin-left: 35px !important
}

.my-35 {
    margin-top: 35px !important;
    margin-bottom: 35px !important
}

.m-40 {
    margin: 40px !important
}

.mt-40 {
    margin-top: 40px !important
}

.mr-40 {
    margin-right: 40px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.ml-40 {
    margin-left: 40px !important
}

.mx-40 {
    margin-right: 40px !important;
    margin-left: 40px !important
}

.my-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}

.m-45 {
    margin: 45px !important
}

.mt-45 {
    margin-top: 45px !important
}

.mr-45 {
    margin-right: 45px !important
}

.mb-45 {
    margin-bottom: 45px !important
}

.ml-45 {
    margin-left: 45px !important
}

.mx-45 {
    margin-right: 45px !important;
    margin-left: 45px !important
}

.my-45 {
    margin-top: 45px !important;
    margin-bottom: 45px !important
}

.m-50 {
    margin: 50px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mr-50 {
    margin-right: 50px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.ml-50 {
    margin-left: 50px !important
}

.mx-50 {
    margin-right: 50px !important;
    margin-left: 50px !important
}

.my-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important
}

.m-60 {
    margin: 60px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mr-60 {
    margin-right: 60px !important
}

.mb-60 {
    margin-bottom: 60px !important
}

.ml-60 {
    margin-left: 60px !important
}

.mx-60 {
    margin-right: 60px !important;
    margin-left: 60px !important
}

.my-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important
}

.m-70 {
    margin: 70px !important
}

.mt-70 {
    margin-top: 70px !important
}

.mr-70 {
    margin-right: 70px !important
}

.mb-70 {
    margin-bottom: 70px !important
}

.ml-70 {
    margin-left: 70px !important
}

.mx-70 {
    margin-right: 70px !important;
    margin-left: 70px !important
}

.my-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important
}

.m-80 {
    margin: 80px !important
}

.mt-80 {
    margin-top: 80px !important
}

.mr-80 {
    margin-right: 80px !important
}

.mb-80 {
    margin-bottom: 80px !important
}

.ml-80 {
    margin-left: 80px !important
}

.mx-80 {
    margin-right: 80px !important;
    margin-left: 80px !important
}

.my-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important
}

.m-100 {
    margin: 100px !important
}

.mt-100 {
    margin-top: 100px !important
}

.mr-100 {
    margin-right: 100px !important
}

.mb-100 {
    margin-bottom: 100px !important
}

.ml-100 {
    margin-left: 100px !important
}

.mx-100 {
    margin-right: 100px !important;
    margin-left: 100px !important
}

.my-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important
}

.p-0 {
    padding: 0 !important
}

.pt-0 {
    padding-top: 0 !important
}

.pr-0 {
    padding-right: 0 !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pl-0 {
    padding-left: 0 !important
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.p-3 {
    padding: 3px !important
}

.pt-3 {
    padding-top: 3px !important
}

.pr-3 {
    padding-right: 3px !important
}

.pb-3 {
    padding-bottom: 3px !important
}

.pl-3 {
    padding-left: 3px !important
}

.px-3 {
    padding-right: 3px !important;
    padding-left: 3px !important
}

.py-3 {
    padding-top: 3px !important;
    padding-bottom: 3px !important
}

.p-5 {
    padding: 5px !important
}

.pt-5 {
    padding-top: 5px !important
}

.pr-5 {
    padding-right: 5px !important
}

.pb-5 {
    padding-bottom: 5px !important
}

.pl-5 {
    padding-left: 5px !important
}

.px-5 {
    padding-right: 5px !important;
    padding-left: 5px !important
}

.py-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important
}

.p-10 {
    padding: 10px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pl-10 {
    padding-left: 10px !important
}

.px-10 {
    padding-right: 10px !important;
    padding-left: 10px !important
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}

.p-15 {
    padding: 15px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pl-15 {
    padding-left: 15px !important
}

.px-15 {
    padding-right: 15px !important;
    padding-left: 15px !important
}

.py-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important
}

.p-20 {
    padding: 20px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pl-20 {
    padding-left: 20px !important
}

.px-20 {
    padding-right: 20px !important;
    padding-left: 20px !important
}

.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

.p-25 {
    padding: 25px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pr-25 {
    padding-right: 25px !important
}

.pb-25 {
    padding-bottom: 25px !important
}

.pl-25 {
    padding-left: 25px !important
}

.px-25 {
    padding-right: 25px !important;
    padding-left: 25px !important
}

.py-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important
}

.p-30 {
    padding: 30px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pl-30 {
    padding-left: 30px !important
}

.px-30 {
    padding-right: 30px !important;
    padding-left: 30px !important
}

.py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important
}

.p-35 {
    padding: 35px !important
}

.pt-35 {
    padding-top: 35px !important
}

.pr-35 {
    padding-right: 35px !important
}

.pb-35 {
    padding-bottom: 35px !important
}

.pl-35 {
    padding-left: 35px !important
}

.px-35 {
    padding-right: 35px !important;
    padding-left: 35px !important
}

.py-35 {
    padding-top: 35px !important;
    padding-bottom: 35px !important
}

.p-40 {
    padding: 40px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pr-40 {
    padding-right: 40px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pl-40 {
    padding-left: 40px !important
}

.px-40 {
    padding-right: 40px !important;
    padding-left: 40px !important
}

.py-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.p-45 {
    padding: 45px !important
}

.pt-45 {
    padding-top: 45px !important
}

.pr-45 {
    padding-right: 45px !important
}

.pb-45 {
    padding-bottom: 45px !important
}

.pl-45 {
    padding-left: 45px !important
}

.px-45 {
    padding-right: 45px !important;
    padding-left: 45px !important
}

.py-45 {
    padding-top: 45px !important;
    padding-bottom: 45px !important
}

.p-50 {
    padding: 50px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pl-50 {
    padding-left: 50px !important
}

.px-50 {
    padding-right: 50px !important;
    padding-left: 50px !important
}

.py-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important
}

.p-60 {
    padding: 60px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pr-60 {
    padding-right: 60px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pl-60 {
    padding-left: 60px !important
}

.px-60 {
    padding-right: 60px !important;
    padding-left: 60px !important
}

.py-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important
}

.p-70 {
    padding: 70px !important
}

.pt-70 {
    padding-top: 70px !important
}

.pr-70 {
    padding-right: 70px !important
}

.pb-70 {
    padding-bottom: 70px !important
}

.pl-70 {
    padding-left: 70px !important
}

.px-70 {
    padding-right: 70px !important;
    padding-left: 70px !important
}

.py-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important
}

.p-80 {
    padding: 80px !important
}

.pt-80 {
    padding-top: 80px !important
}

.pr-80 {
    padding-right: 80px !important
}

.pb-80 {
    padding-bottom: 80px !important
}

.pl-80 {
    padding-left: 80px !important
}

.px-80 {
    padding-right: 80px !important;
    padding-left: 80px !important
}

.py-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important
}

.p-100 {
    padding: 100px !important
}

.pt-100 {
    padding-top: 100px !important
}

.pr-100 {
    padding-right: 100px !important
}

.pb-100 {
    padding-bottom: 100px !important
}

.pl-100 {
    padding-left: 100px !important
}

.px-100 {
    padding-right: 100px !important;
    padding-left: 100px !important
}

.py-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important
}

.m--30 {
    margin: -30px !important
}

.mt--30 {
    margin-top: -30px !important
}

.mr--30 {
    margin-right: -30px !important
}

.mb--30 {
    margin-bottom: -30px !important
}

.ml--30 {
    margin-left: -30px !important
}

.mx--30 {
    margin-right: -30px !important;
    margin-left: -30px !important
}

.my--30 {
    margin-top: -30px !important;
    margin-bottom: -30px !important
}

.m--25 {
    margin: -25px !important
}

.mt--25 {
    margin-top: -25px !important
}

.mr--25 {
    margin-right: -25px !important
}

.mb--25 {
    margin-bottom: -25px !important
}

.ml--25 {
    margin-left: -25px !important
}

.mx--25 {
    margin-right: -25px !important;
    margin-left: -25px !important
}

.my--25 {
    margin-top: -25px !important;
    margin-bottom: -25px !important
}

.m--20 {
    margin: -20px !important
}

.mt--20 {
    margin-top: -20px !important
}

.mr--20 {
    margin-right: -20px !important
}

.mb--20 {
    margin-bottom: -20px !important
}

.ml--20 {
    margin-left: -20px !important
}

.mx--20 {
    margin-right: -20px !important;
    margin-left: -20px !important
}

.my--20 {
    margin-top: -20px !important;
    margin-bottom: -20px !important
}

.m--15 {
    margin: -15px !important
}

.mt--15 {
    margin-top: -15px !important
}

.mr--15 {
    margin-right: -15px !important
}

.mb--15 {
    margin-bottom: -15px !important
}

.ml--15 {
    margin-left: -15px !important
}

.mx--15 {
    margin-right: -15px !important;
    margin-left: -15px !important
}

.my--15 {
    margin-top: -15px !important;
    margin-bottom: -15px !important
}

.m--10 {
    margin: -10px !important
}

.mt--10 {
    margin-top: -10px !important
}

.mr--10 {
    margin-right: -10px !important
}

.mb--10 {
    margin-bottom: -10px !important
}

.ml--10 {
    margin-left: -10px !important
}

.mx--10 {
    margin-right: -10px !important;
    margin-left: -10px !important
}

.my--10 {
    margin-top: -10px !important;
    margin-bottom: -10px !important
}

.m--5 {
    margin: -5px !important
}

.mt--5 {
    margin-top: -5px !important
}

.mr--5 {
    margin-right: -5px !important
}

.mb--5 {
    margin-bottom: -5px !important
}

.ml--5 {
    margin-left: -5px !important
}

.mx--5 {
    margin-right: -5px !important;
    margin-left: -5px !important
}

.my--5 {
    margin-top: -5px !important;
    margin-bottom: -5px !important
}

.m--3 {
    margin: -3px !important
}

.mt--3 {
    margin-top: -3px !important
}

.mr--3 {
    margin-right: -3px !important
}

.mb--3 {
    margin-bottom: -3px !important
}

.ml--3 {
    margin-left: -3px !important
}

.mx--3 {
    margin-right: -3px !important;
    margin-left: -3px !important
}

.my--3 {
    margin-top: -3px !important;
    margin-bottom: -3px !important
}

.m--1 {
    margin: -1px !important
}

.mt--1 {
    margin-top: -1px !important
}

.mr--1 {
    margin-right: -1px !important
}

.mb--1 {
    margin-bottom: -1px !important
}

.ml--1 {
    margin-left: -1px !important
}

.mx--1 {
    margin-right: -1px !important;
    margin-left: -1px !important
}

.my--1 {
    margin-top: -1px !important;
    margin-bottom: -1px !important
}

.m-auto {
    margin: auto !important
}

.mt-auto {
    margin-top: auto !important
}

.mr-auto {
    margin-right: auto !important
}

.mb-auto {
    margin-bottom: auto !important
}

.ml-auto {
    margin-left: auto !important
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

