@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Semibold.woff2") format("woff2"), url("../fonts/SFUIText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2"), url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

strong {
  font-weight: 600; }

.mt-5 {
  margin-top: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.pt-45 {
  padding-top: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.pr-45 {
  padding-right: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.mt-75 {
  margin-top: 75px !important; }

.pt-75 {
  padding-top: 75px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.ml-75 {
  margin-left: 75px !important; }

.pl-75 {
  padding-left: 75px !important; }

.mr-75 {
  margin-right: 75px !important; }

.pr-75 {
  padding-right: 75px !important; }

.mt-100 {
  margin-top: 100px !important; }

.pt-100 {
  padding-top: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.pr-100 {
  padding-right: 100px !important; }

.container {
  max-width: 1000px;
  position: relative; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  color: #565A67;
  font-size: 14px;
  font-family: 'SF UI Text';
  background-color: #F5F8FF; }

.ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.header {
  background: url(../img/header-bg.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 15px 0 0;
  color: #fff; }

.nav-tabs-line {
  position: relative;
  border-bottom: none; }
  .nav-tabs-line .nav-item {
    margin-bottom: -1px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 14px; }
    .nav-tabs-line .nav-item .nav-link {
      padding: 5px 0;
      border-color: transparent;
      border-bottom: 4px solid transparent;
      color: #C5C5C5;
      overflow: hidden;
      -webkit-border-radius: 0;
      border-radius: 0; }
      .nav-tabs-line .nav-item .nav-link.active {
        color: #fff;
        background-color: transparent;
        border-bottom: 4px solid #fff;
        font-weight: 500; }

.history {
  padding: 15px 0; }
  .history .date {
    font-weight: 500;
    font-size: 12px;
    color: #636363;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .history .items {
    margin-bottom: 20px; }
    .history .items .item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .history .items .item img {
        width: 42px;
        height: 42px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        background-color: #fff; }
      .history .items .item .info {
        margin: 0 10px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .history .items .item .info strong {
          display: block;
          color: #000C38;
          font-size: 15px; }
        .history .items .item .info span {
          font-size: 13px;
          color: #999EAF; }
      .history .items .item .sum {
        font-weight: 600;
        font-size: 15px; }
      .history .items .item:not(:last-child) {
        border-bottom: 1px solid #E7EBF6;
        padding-bottom: 10px;
        margin-bottom: 10px; }

.green {
  color: #0BBE7A; }

.red {
  color: #DF325B; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: url(../img/header-bg.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 999; }

.sticky_header + .container {
  padding-top: 106px; }

.accordion {
  list-style: none;
  padding: 0;
  margin: 15px 0; }
  .accordion li {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .accordion li a {
      width: 100%;
      display: block;
      cursor: pointer;
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 10px; }
      .accordion li a:after {
        width: 8px;
        height: 8px;
        border-right: 1px solid #4a6e78;
        border-bottom: 1px solid #4a6e78;
        position: absolute;
        right: 10px;
        content: " ";
        top: 16px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .accordion li a.active:after {
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
    .accordion li p {
      display: none;
      color: #6b97a4;
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 2;
      padding: 0 10px 10px; }

.products {
  margin: 0 -15px 30px 0; }
  .products .item {
    width: 130px;
    margin: 0 8px; }
    .products .item img {
      width: 130px;
      height: 130px;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-border-radius: 35px;
      border-radius: 35px;
      line-height: 1; }
    .products .item .info {
      text-align: center;
      margin-top: 8px; }
      .products .item .info strong {
        font-weight: 600;
        font-size: 15px;
        color: #003E70;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: normal; }
      .products .item .info .price {
        margin-top: 3px; }
    .products .item a:hover {
      text-decoration: none; }

.title {
  font-size: 20px;
  color: #000C38;
  font-weight: 600;
  line-height: 1; }

.title-s {
  font-weight: 600;
  font-size: 17px;
  color: #3c3c3c; }

.price {
  font-size: 18px;
  color: #DF325B;
  font-weight: 600;
  line-height: 1; }
  .price small {
    font-size: 70%; }

.show_all {
  color: #003E70;
  font-weight: 500;
  font-size: 14px; }

.pr-t-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0; }

.btn-r {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product .image {
  position: relative;
  margin: 0 -15px;
  text-align: center; }
  .product .image .back {
    position: absolute;
    left: 15px;
    top: 15px; }
  .product .image img {
    max-width: 100%;
    height: auto; }

.product .info {
  margin-top: 15px; }
  .product .info .title {
    margin-bottom: 10px; }
  .product .info .price {
    margin-bottom: 15px; }
  .product .info .desc {
    margin-top: 10px; }

.check-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/check-bg.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .check-wrap .check {
    background-color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .check-wrap .check .barcode strong {
      font-size: 20px;
      color: #000; }
    .check-wrap .check .help-text {
      line-height: 1.3; }

.group {
  position: relative;
  margin-bottom: 30px; }
  .group input {
    font-size: 18px;
    padding: 10px 10px 10px 0;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff; }
  .group input:focus {
    outline: none; }
  .group label {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .group input:focus ~ label,
  .group input:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #fff;
    opacity: 0.6; }
  .group .bar {
    position: relative;
    display: block;
    width: 300px; }
  .group .bar:before,
  .group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .group .bar:before {
    left: 50%; }
  .group .bar:after {
    right: 50%; }
  .group input:focus ~ .bar:before,
  .group input:focus ~ .bar:after {
    width: 50%; }
  .group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

.login-wrap {
  background-color: #003E70;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .login-wrap .login {
    text-align: center; }
    .login-wrap .login h3 {
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      margin: 40px 0 30px;
      text-transform: uppercase; }
    .login-wrap .login .btn {
      text-transform: uppercase; }

.btn-primary {
  background-color: #DF325B;
  border-color: #DF325B; }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:hover {
    background-color: #aa1b3d;
    border-color: #aa1b3d; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }
  .header-top .user {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
  .header-top .pul {
    color: #FDD600;
    font-size: 22px;
    line-height: 1; }
    .header-top .pul small {
      color: #fff;
      font-size: 70%; }
  .header-top .cart-btn {
    width: 40px;
    height: 40px;
    background: #003E70;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none; }
    .header-top .cart-btn span {
      position: relative;
      top: -16px;
      margin: 0 -.8em;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      color: #000C38;
      background-color: #FDD600;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      padding: 3px 6px;
      display: inline-block;
      font-size: 10px; }

.product-list .product-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px; }
  .product-list .product-item img {
    width: 90px;
    height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    line-height: 1;
    margin-right: 20px; }
  .product-list .product-item .info .title-product {
    color: #000C38;
    font-weight: 600;
    font-size: 15px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: normal; }
  .product-list .product-item .info .price {
    font-size: 17px;
    margin: 5px 0; }
  .product-list .product-item .info .remove {
    color: #003E70; }
