.block-number {
    text-align: center;
    font-weight: bold;
    font-size: 0.8125em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #191919;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.block-number:hover {
    opacity: 1;
}

.block-number::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    margin-bottom: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #191919;
}

.block-number a:hover,
.block-number a:focus {
    color: #191919;
}

.demo-section .main-content .section,
.main-content .topbar,
.main-content .navbar,
.main-content .header,
.main-content .footer {
    margin: 30px 20px 100px;
    border: 1px solid #f5f6f7;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.main-content .navbar {
    position: static;
    margin: 0;
}

.btns-link {
}

.btns-link img {
    height: 40px;
    transition: transform 350ms cubic-bezier(0.591, -0.623, 0.251, 1.74), -webkit-transform 350ms cubic-bezier(0.591, -0.623, 0.251, 1.74);
}

.btns-link a:hover img {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.btns-link a {
    display: inline-block;
}

.btns-link a:first-child {
    margin-right: 10px;
}
.app-img {
    width: 330px;
    border: 1px solid #eee;
    margin: 30px 0;
}
p{
    font-size: 1.17188rem;
}
@media (max-width: 991.98px) {
.header{
    padding-top: 90px;
}
.navbar-toggler{
    display: none;
}
.btns-link img {
    height: 30px;
}
.logo-dark {
    max-width: 110px;
}
.pt-8, .py-8 {
    padding-top: 3rem !important;
}
.pb-8, .py-8 {
    padding-bottom: 3rem !important;
}
}