 $spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
 $sides: (top, bottom, left, right);
 $primary: #000000;
 $secondary: #47546a;
 $darkgray: #C4CBDB;
 $gray: #C4CBDB;
 $blue: #3667BD;
 $lightgray: #DDE0E6;
 $brandblue: #26C6DA;
 $lightblue: #92E2EC;
 $darkblue: #52A7B9;
 $darkgrey: #5D5D5D;
 $uired: #DA5126;
 $uigreen: #000C38;

 @font-face {
     font-family: 'Lato';
     src: url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
 }




 @font-face {
     font-family: 'Lato';
     src: url('../fonts/lato-medium.woff2') format('woff2'),
         url('../fonts/lato-medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
 }




 @font-face {
     font-family: 'Lato';
     src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

 @font-face {
     font-family: 'Helvetica Neue';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/HelveticaNeue-CondensedRegular.eot');
     /* IE9 Compat Modes */
     src: local('Helvetica Neue'), local('Helvetica Neue'),
         url('../fonts/HelveticaNeue-CondensedRegular.eot?#iefix') format('embedded-opentype'),
         /* IE6-IE8 */
         url('../fonts/HelveticaNeue-CondensedRegular.woff') format('woff'),
         /* Modern Browsers */
         url('../fonts/HelveticaNeue-CondensedRegular.ttf') format('truetype'),
         /* Safari, Android, iOS */
         url('../fonts/HelveticaNeue-CondensedRegular.svg#OpenSans') format('svg');
     /* Legacy iOS */
 }

 a p {
     color: $secondary;
     font-size: 18px;
     line-height: 33px;
 }

 .p-15 {
     padding: 15px;
 }

 .p-10 {
     padding: 10px;
 }

 ul.dot {
     li {
         position: relative;
         font-size: 18px;
         line-height: 33px;
         color: $secondary;
         padding-left: 15px;

         &:before {
             content: "•";
             color: #26C6DA;
             position: absolute;
             left: 0;
             top: 0;

         }
     }
 }

 ul.checked_ul {
     li {
         position: relative;
         font-size: 18px;
         line-height: 33px;
         color: #000;
         padding-left: 41px;
         margin-bottom: 26px;
         background: url(../img/check_blue.svg) no-repeat 0 10px;


     }
 }

 @each $space in $spaceamounts {
     @each $side in $sides {
         .m#{str-slice($side, 0, 1)}-#{$space} {
             margin-#{$side}: #{$space}px !important;
         }

         .p#{str-slice($side, 0, 1)}-#{$space} {
             padding-#{$side}: #{$space}px !important;
         }
     }
 }

 @media (min-width: 1380px) {
     .container {
         max-width: 1320px;
     }
 }

 .container {
     position: relative;
 }

 body {
     position: relative;
     color: $primary;
     font-size: 16px;
     font-family: 'Lato';
     background-color: #fff;
 }

 h1 {
     font-weight: bold;
     font-size: 56px;
     line-height: 80px;
 }

 .ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .topbar {
     background-color: #3667bd;
 }

 .topul {
     display: flex;

     li {
         line-height: 1;
         padding: 10px 0;

         a {
             font-size: 13px;
             font-style: normal;
             letter-spacing: 0.4px;
             color: #ffffff;
             font-weight: bold;
         }

         &:first-child {
             a {
                 margin-right: 20px;
                 padding-right: 20px;
                 border-right: 1px solid rgba(255, 255, 255, 0.5);
             }
         }

         &:last-child {
             text-transform: uppercase;
             margin-left: 48px;
         }
     }
 }

 @mixin hover-focus {

     &:hover,
     &:focus {
         @content;
     }
 }

 @mixin hover {
     &:hover {
         @content;
     }
 }

 .navbar-light,
 .container-fluid {
     padding: 0 100px;
 }

 .header {
     border-bottom: 1px solid #D6DBE4;

     .navbar-light {

         .main-menu {
             .nav-item {
                 margin: 0 26px;
                 padding: 0;

                 &:first-child {
                     margin-left: 0;
                 }
             }

             .nav-link {
                 color: #000;
                 font-weight: 500;
                 font-size: 14px;
                 line-height: 1;
                 letter-spacing: 1px;
                 text-transform: uppercase;
                 padding: 28px 0;
                 display:block;
                &:before{
                    display: block;
                    content: attr(title);
                    font-weight: bold;
                    height: 0;
                    visibility: hidden;
                }
                 @include hover-focus {
                     font-weight: bold;
                 }

                 &.disabled {
                     color: #000;
                 }
             }

             .show>.nav-link,
             .active>.nav-link,
             .nav-link.show,
             .nav-link.active {
                 font-weight: bold;
             }

             .dropdown-toggle::after {
                 display: inline-block;
                 margin-left: 5px;
                 vertical-align: 4px;
                 content: "";
                 background: url(../img/arrow.svg) no-repeat 0 0;
                 width: 10px;
                 height: 6px;
                 border: none;
             }

             .dropdown-item {
                 width: auto;
             }
         }

         .btn-primary.dropdown-toggle::after {
             display: none;
         }
     }

 }


 .navbar-brand {
     margin: 0;
     padding: 0;
     line-height: 1;
 }

 .small {
     font-size: 12px;
     color: #47546A;
 }

 .btn {
     padding: 12px 30px;
     line-height: 1;
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 0.857143px;
 }

 .btn-primary {
     background-color: $brandblue;
     color: #fff;
     border-color: $brandblue;
     box-shadow: none;

     &:hover,
     &:focus,
     &.focus {
         background-color: $darkblue;
         border-color: $darkblue;
         outline: 0;
         box-shadow: none;
     }

     // Disabled comes first so active can properly restyle
     &.disabled,
     &:disabled {
         background-color: $lightgray;
         border-color: $lightgray;
     }

     &:not(:disabled):not(.disabled):active,
     &:not(:disabled):not(.disabled).active,
     .show &.dropdown-toggle {
         box-shadow: none;
         background-color: $brandblue;
         border-color: $brandblue;

         &:focus {
             box-shadow: none;
         }
     }

 }

 .btn-lg {
     padding: 25px 35px;
 }

 .dropdown-menu-arrow {
     top: -17px;
     width: 0;
     height: 0;
     position: relative;
 }

 .dropdown-menu-arrow:before,
 .dropdown-menu-arrow:after {
     content: "";
     position: absolute;
     display: block;
     width: 0;
     height: 0;
     border-width: 7px 8px;
     border-style: solid;
     border-color: transparent;
     z-index: 1001;
 }

 .dropdown-menu-arrow:after {
     bottom: -18px;
     right: -8px;
     border-bottom-color: #fff;
 }

 .dropdown-menu-arrow:before {
     bottom: -17px;
     right: -8px;
     border-bottom-color: rgba(0, 0, 0, .15);
 }

 .dropdown-menu-right .dropdown-menu-arrow {
     left: calc(100% - 50px);
 }

 .header .dropdown-menu-right {
     top: 70px;
 }

 .navbar .main-menu .dropdown-menu li {
     background-color: #fff;
 }

 .dropdown-menu.dropdown-menu1 {
     min-width: 300px;
     border: 1px solid #D6DBE4;
     box-sizing: border-box;
     border-radius: 6px;
     padding: 0 25px;

     .dropdown-item {
         font-size: 12px;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: $secondary;
         padding: 15px 0;
         border-bottom: 1px solid #D6DBE4;

         &:hover {
             font-weight: bold;
             background-color: transparent;
         }

         &:last-child {
             border: none;
         }
     }
 }



 @media screen and (min-width: 1100px) {
     .navbar .main-menu {
         margin-left: 140px;

         a {
             transition: text-shadow .3s;
         }

         .dropdown {
             position: static;
         }

         .dropdown-menu {
             border: none;
             background-color: #fff !important;
             border-bottom: 1px solid #D6DBE4;
             padding-left: 382px;
             padding-right: 100px;
             width: 100%;
             left: 0;
             right: 0;
             top: 70px;
             display: block;
             visibility: hidden;

             li {
                 float: left;
                 position: relative;

                 &:not(:last-child) {
                     padding-right: 30px;
                     margin-right: 30px;
                     border-right: 1px solid #D6DBE4;
                 }

                 a.dropdown-item {
                     padding: 6px 0;
                     text-transform: uppercase;
                     position: relative;

                     &.active {
                         font-weight: bold;
                         color: #000;
                         background-color: transparent;

                         &:before {
                             background-color: $brandblue;
                             content: "";
                             width: 100%;
                             position: absolute;
                             bottom: -9px;
                             height: 2px;
                         }
                     }

                     &:hover,
                     &:active {
                         font-weight: bold;
                         background-color: transparent;
                         color: #000;
                         outline: none;
                     }
                 }
             }
         }
     }

     .navbar .main-menu .dropdown.show .dropdown-menu.show,
     .navbar .main-menu .dropdown.active .dropdown-menu.active {
         visibility: visible;
     }

     .flexMenu-viewMore>a {
         color: #D8D8D8;
         font-size: 13px;
         vertical-align: middle;
         display: block;
         padding: 8px 0;

     }

     .main-menu .dropdown-menu.dropdown-menu1 {
         visibility: visible;
         width: 300px;
         padding: 0 !important;
         right: -40px;
         left: auto;
         top: 26px;
         padding-top: 41px !important;
         background-color: transparent !important;

         li {
             padding: 0 25px !important;
             margin: 0 !important;
             float: none;
             border-left: 1px solid #D6DBE4;
             border-right: 1px solid #D6DBE4;

             a {
                 padding: 15px 0 !important;
                 display: block;
                 border-bottom: 1px solid #D6DBE4 !important;
             }
         }

         li:first-child {
             border-top: 1px solid #D6DBE4;
             border-radius: 6px 6px 0 0;
         }

         li:nth-last-child(2) {
             border-radius: 0 0 6px 6px;

             a {
                 border-bottom: none !important;
             }
         }

         .dropdown-menu-arrow {
             position: absolute;
             left: calc(100% - 102px);
             top: 25px;
         }

     }

     .navbar-collapse .topul {
         display: none;
     }
 }

 @media (min-width: 1100px) and (max-width: 1600px) {

     .navbar-light,
     .container-fluid {
         padding: 0 70px;
     }

     .navbar .main-menu {
         margin-left: 70px;
     }

     .header .navbar-light .main-menu .nav-item {
         margin: 0 15px;
         padding: 0;
     }

     .navbar .main-menu .dropdown-menu li:not(:last-child) {
         padding-right: 20px;
         margin-right: 20px;
     }

     .navbar .main-menu .dropdown-menu {
         padding-left: 280px;
         padding-right: 70px;
     }
 }

 @media (min-width: 1100px) and (max-width: 1400px) {

     .navbar-light,
     .container-fluid {
         padding: 0 40px;
     }

     .navbar .main-menu {
         margin-left: 40px;
     }

     .header .navbar-light .main-menu .nav-item {
         margin: 0 15px;
         padding: 0;
     }

     .navbar .main-menu .dropdown-menu li:not(:last-child) {
         padding-right: 20px;
         margin-right: 20px;
     }

     .navbar .main-menu .dropdown-menu {
         padding-left: 280px;
         padding-right: 40px;
     }
 }

 .btn-menu {
     position: relative;
     background: transparent;
     cursor: pointer;
     width: 25px;
     height: 25px;
     padding: 0;
     z-index: 8;
     -webkit-transition: all ease .238s;
     -moz-transition: all ease .238s;
     transition: all ease .238s;
     border: none;
     outline: none;
     margin-right: 25px;

     &:focus {
         outline: none;
     }
 }

 .btn-menu:before,
 .btn-menu:after,
 .btn-menu span {
     background-color: #252525;
     transition: all ease .238s;
     height: 2px;
     width: 25px;
     left: 0;
     position: absolute;
     top: 50%;
     overflow: hidden;

 }

 .btn-menu:before,
 .btn-menu:after {
     content: '';
     transform-origin: 50% 50%;
 }

 .btn-menu:before {
     -webkit-transform: translate3d(0, -7px, 0);
     transform: translate3d(0, -7px, 0);
 }

 .btn-menu:after {
     -webkit-transform: translate3d(0, 7px, 0);
     transform: translate3d(0, 7px, 0);
 }

 .btn-menu[aria-expanded="true"] span {
     opacity: 0;
 }

 .btn-menu[aria-expanded="true"]:before {
     -webkit-transform: rotate3d(0, 0, 1, 45deg);
     transform: rotate3d(0, 0, 1, 45deg);
 }

 .btn-menu[aria-expanded="true"]:after {
     -webkit-transform: rotate3d(0, 0, 1, -45deg);
     transform: rotate3d(0, 0, 1, -45deg);
 }

 .promo {
     background: radial-gradient(424.57px at 66.35% 42.79%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(1331.50px at 69.35% 37.29%, #F3F7FE 0%, #E3EDFE 100%);

     .row {
         align-items: center;
         padding: 60px 0;
     }

     p {
         font-size: 20px;
         color: #000;
         margin: 25px 0 60px;
     }

     .promo_text {
         flex: 0 0 50%;
         max-width: 50%;
     }

     .promo_img {
         flex: 0 0 50%;
         max-width: 50%;
     }
 }

 .section {
     padding: 130px 0;
 }

 .section-header {
     text-align: center;
     margin-bottom: 70px;

     .h2 {
         margin-bottom: 35px;
     }

     p {
         color: $secondary;
         font-size: 18px;
         line-height: 33px;
     }
 }

 .h2 {
     font-weight: bold;
     font-size: 40px;
     line-height: 1.2;

 }



 .features-items {
     .item {
         height: 100%;
         padding: 30px;
         background: #FFFFFF;
         box-shadow: 0px 1px 5px rgba(53, 70, 80, 0.15);
         border-radius: 12px;
         text-align: center;
         transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
         transition-delay: .1s;
         transform: translateZ(0);

         &:hover {
             box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
             transform: translate(0, -4px);
         }
     }

     .icon {
         margin: 10px 0 25px;
     }

     .title {
         font-weight: bold;
         font-size: 20px;
         line-height: 33px;
         color: #000000;
         margin-bottom: 15px;
     }

     p {
         font-size: 18px;
         line-height: 33px;
         color: $secondary;
         margin-bottom: 0;
     }
 }

 .blue-bg {
     background: $blue;
     color: #fff;

     .title,
     p {
         color: #fff;
     }
 }

 .grey-bg {
     background: radial-gradient(493.00px at 50% 50%, #FFFFFF 0%, #F3F7FE 100%);
 }

 .blue-bg-gradient {
     background: radial-gradient(320.50px at 50% 50%, rgba(54, 103, 189, 0.9) 0%, #3667BD 100%);
 }

 .kupit-img {
     margin-left: -90px;
 }

 .scrolling_tabs {
     position: relative;
     margin: 0 auto;
     overflow: hidden;
     height: 70px;
 }

 .list {
     position: absolute;
     left: 0px;
     top: 0px;
     min-width: 3000px;
     margin: 0;
     border-bottom: 1px solid #e4eaec;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 .banks {
     .item {
         margin-bottom: 30px;

         a {
             background: #FFFFFF;
             box-shadow: 0px 7px 17px rgba(71, 84, 106, 0.08);
             border-radius: 6px;
             display: flex;
             align-items: center;
             height: 95px;
             justify-content: center;
             transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
             transition-delay: .1s;
             transform: translateZ(0);

             &:hover {
                 box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
                 transform: translate(0, -4px);
             }
         }
     }
 }

 .connecting-items {
     text-align: center;

     .col-md-3:before {
         content: "";
         width: 11px;
         height: 16px;
         background: url(../img/right-w.svg) no-repeat;
         position: absolute;
         background-size: cover;
         right: 0;
         top: 40px;
     }

     .col-md-3:last-child:before {
         display: none;
     }

     .icon {
         margin-bottom: 25px;
     }

     .title {
         font-weight: 500;
         font-size: 18px;
         line-height: 28px;
     }
 }

 .list li {
     display: table-cell;
     position: relative;
     text-align: center;
     cursor: grab;
     cursor: -webkit-grab;
     vertical-align: middle;
     padding: 0 25px;

     &:first-child {
         padding-left: 0;
     }

     a {
         padding: 25px 0;
         color: $secondary;
         background-color: transparent;
         border-bottom: 1px solid transparent;
         display: block;
         position: relative;
         font-size: 12px;
         text-transform: uppercase;

         &:hover {
             text-decoration: none;
             font-weight: bold;
             color: #000;
         }
     }

     a.active {
         font-weight: bold;
         color: #000;

         &:before {
             content: "";
             position: absolute;
             bottom: -2px;
             width: 100%;
             height: 2px;
             background-color: $brandblue;
         }
     }
 }

 .contact-form {
     max-width: 515px;
     margin: 0 auto;

     p {
         font-size: 14px;
         line-height: 24px;
         color: $secondary;
         text-align: center;
         margin: 20px 0 0;
     }
 }

 .form-row {}

 .form-group {
     position: relative;
     width: 100%;
     margin-bottom: 35px;
 }

 .form-control {
     border: 0;
     border-radius: 0;
     padding: 40px 25px 22px;
     background-color: transparent;
     position: relative;
     z-index: 2;
     font-size: 18px;
     border: 1px solid #C4CBDB;
     color: #000000;
     border-radius: 3px;

     &:hover {
         border: 1px solid #47546A;
     }

     &:not(textarea) {
         height: 64px;
     }

     +label {
         position: absolute;
         z-index: 1;
         top: 20px;
         margin: 0;
         transition: all 0.2s ease-in-out;
         pointer-events: none;
         left: 25px;
         right: 25px;
         color: #939AA7;
         font-size: 18px;
     }

     &:focus {
         box-shadow: none;
         background-color: transparent;
         border: 1px solid #26C6DA;
         color: #000;
     }

     &:focus {
         +label {
             color: #939AA7;
         }
     }

     &:focus,
     &.has-value {

         +label {
             font-size: 12px;
             top: 10px;
         }

     }

 }

 // Position labels for when javascript is disabled
 .no-js {
     .form-control+label {
         font-size: 0.75rem;
         top: 0;
     }
 }

 .form-row {
     .form-control {
         +label {
             left: 25px;
             right: 25px;
         }
     }
 }



 // Remove Bootstrap 4 height from select
 select.form-control:not([size]):not([multiple]) {
     height: 44px;
 }
.main-menu .dropdown-menu li a.dropdown-item {
         text-transform: uppercase;
         padding: 10px 0;
             font-size: 14px;
     }
 .scroller {
     text-align: center;
     cursor: pointer;
     display: none;
     padding: 20px 13px;
     white-space: no-wrap;
     vertical-align: middle;
     background-color: #fff;
     top: -2px;
     position: relative;
     z-index: 999;
 }

 .scroller-right {
     float: right;
 }

 .scroller-left {
     float: left;
 }

 .text-col {
     display: flex;
     align-items: center;

     .title_sub {
         margin-bottom: 25px;
     }

     p {
         margin-bottom: 40px;
     }
 }

 .btn-md {
     padding: 20px 25px;
 }

 .img-col {
     display: flex;
     align-items: center;
     justify-content: center
 }

 .title_sub {
     font-weight: bold;
     font-size: 32px;
     line-height: 38px;
     color: #000000;
 }

 .title_small {
     font-weight: bold;
     font-size: 24px;
     line-height: 36px;
     color: #000000;
 }

 .nav-tabs-horizontal {
     max-width: 1070px;
     margin: 0 auto;

     .tab-pane {
         margin-top: 50px;

         p {
             font-size: 18px;
             color: #000000;
         }
     }
 }

 .bordered {
     border-top: 1px solid #EEF0F4;
     border-bottom: 1px solid #EEF0F4;
 }

 .nav-tabs-line {
     position: relative;
     border-bottom: 1px solid #e4eaec;
     justify-content: space-between;


     .nav-item {
         margin-bottom: -1px;
         font-size: 12px;
         text-transform: uppercase;


         .nav-link {
             padding: 25px 0;
             border-color: transparent;
             border-bottom: 2px solid transparent;
             color: $secondary;
             overflow: hidden;
             border-radius: 0;
             text-align: center;

             &:hover {
                 font-weight: bold;
                 color: #000;
             }

             &.active {
                 font-weight: bold;
                 color: #000;
                 background-color: transparent;
                 border-bottom: 2px solid $brandblue;
             }
         }
     }
 }

 .irs {
     position: relative;
     display: block;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     font-size: 12px;
     font-family: Arial, sans-serif;
 }

 .irs-line {
     position: relative;
     display: block;
     overflow: hidden;
     outline: none !important;
 }

 .irs-bar {
     position: absolute;
     display: block;
     left: 0;
     width: 0;
 }

 .irs-shadow {
     position: absolute;
     display: none;
     left: 0;
     width: 0;
 }

 .irs-handle {
     position: absolute;
     display: block;
     box-sizing: border-box;
     cursor: default;
     z-index: 1;
 }

 .irs-handle.type_last {
     z-index: 2;
 }

 .irs-min,
 .irs-max {
     position: absolute;
     display: block;
     cursor: default;
 }

 .irs-min {
     left: 0;
 }

 .irs-max {
     right: 0;
 }

 .irs-from,
 .irs-to,
 .irs-single {
     position: absolute;
     display: block;
     top: 0;
     left: 0;
     cursor: default;
     white-space: nowrap;
 }

 .irs-grid {
     position: absolute;
     display: none;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 20px;
 }

 .irs-with-grid .irs-grid {
     display: block;
 }

 .irs-grid-pol {
     position: absolute;
     top: -14px;
     left: 0;
     width: 3px;
     height: 12px;
     background: #D6DBE4;
     border-radius: 20px;
 }

 .irs-grid-pol.small {
     height: 4px;
     display: none;
 }

 .irs-grid-text {
     position: absolute;
     bottom: 0;
     left: 0;
     white-space: nowrap;
     text-align: center;
     font-size: 9px;
     line-height: 9px;
     padding: 0 3px;
     color: #000;
 }

 .irs-disable-mask {
     position: absolute;
     display: block;
     top: 0;
     left: -1%;
     width: 102%;
     height: 100%;
     cursor: default;
     background: rgba(0, 0, 0, 0);
     z-index: 2;
 }

 .lt-ie9 .irs-disable-mask {
     background: #000;
     filter: alpha(opacity=0);
     cursor: not-allowed;
 }

 .irs-disabled {
     opacity: 0.4;
 }

 .irs-hidden-input {
     position: absolute !important;
     display: block !important;
     top: 0 !important;
     left: 0 !important;
     width: 0 !important;
     height: 0 !important;
     font-size: 0 !important;
     line-height: 0 !important;
     padding: 0 !important;
     margin: 0 !important;
     overflow: hidden;
     outline: none !important;
     z-index: -9999 !important;
     background: none !important;
     border-style: solid !important;
     border-color: transparent !important;
 }

 .irs--flat {
     height: 40px;
 }

 .irs--flat.irs-with-grid {
     height: 60px;
 }

 .irs-grid .irs-grid-pol:first-child {
     display: none;
 }

 .irs--flat .irs-line {
     top: 25px;
     height: 4px;
     background-color: #D6DBE4;
     border-radius: 4px;
     margin-right: 17px;
 }

 .irs--flat .irs-grid-pol:nth-last-child(2) {
     left: calc(100% - 3px) !important;
 }

 .irs--flat .irs-bar {
     top: 25px;
     height: 4px;
     background-color: $brandblue;
 }

 .irs--flat .irs-bar--single {
     border-radius: 4px 0 0 4px;
 }

 .irs--flat .irs-shadow {
     height: 1px;
     bottom: 16px;
     background-color: #e1e4e9;
 }

 .irs--flat .irs-handle {
     top: 11px;
     width: 32px;
     height: 32px;
     background: #FFFFFF;
     box-shadow: 0px 4px 10px rgba(165, 182, 207, 0.32);
     border-radius: 100%;
 }

 .irs--flat .irs-handle>i:first-child {
     position: absolute;
     display: block;
     top: 50%;
     left: 50%;
     margin: -5px 0 0 -5px;
     background-color: #26c6da;
     width: 10px;
     border-radius: 100%;
     height: 10px;

 }

 .irs--flat .irs-min,
 .irs--flat .irs-max {
     top: 0;
     padding: 1px 3px;
     color: #999;
     font-size: 10px;
     line-height: 1.333;
     text-shadow: none;
     background-color: #e1e4e9;
     border-radius: 4px;
     display: none;
 }

 .irs--flat .irs-from,
 .irs--flat .irs-to,
 .irs--flat .irs-single {
     color: white;
     font-size: 10px;
     line-height: 1.333;
     text-shadow: none;
     padding: 1px 5px;
     background-color: #ed5565;
     border-radius: 4px;
     display: none;
 }

 .irs--flat .irs-from:before,
 .irs--flat .irs-to:before,
 .irs--flat .irs-single:before {
     position: absolute;
     display: block;
     content: "";
     bottom: -6px;
     left: 50%;
     width: 0;
     height: 0;
     margin-left: -3px;
     overflow: hidden;
     border: 3px solid transparent;
     border-top-color: #ed5565;
 }

 .irs--flat .irs-grid-pol {
     background-color: #D6DBE4;
 }

 .irs--flat .irs-grid-text {
     color: #999;
     display: none;
 }

 .slider-clients .swiper-slide {
     width: auto;
     margin: 0 20px;
     padding: 20px 0;

     a {
         background: #FFFFFF;
         box-shadow: 0px 7px 17px rgba(71, 84, 106, 0.08);
         border-radius: 6px;
         display: block;
         padding: 0 40px;
         height: 93px;
         display: flex;
         align-items: center;
         img{
            width: auto;
            height:auto;
         }
     }
 }

 .tarif-wrap {
     border: 1px solid #C4CBDB;
     border-radius: 10px;
     display: flex;

     .tarif-range {
         padding: 48px 63px 23px;
         flex: 0 0 70%;
         max-width: 70%;

         .secondary {
             font-size: 20px;
             line-height: 24px;
             color: #677797;
         }

         .sum {
             font-size: 48px;
             line-height: 47px;
             color: #161A22;
             margin-top: 28px;
             margin-bottom: 36px;
             strong{
                font-family: 'Roboto';
                font-weight:normal;
             }
         }
     }

     .tarif-percent {
         flex: 0 0 30%;
         max-width: 30%;
         display: flex;
         align-items: center;
         justify-content: center;
         border-left: 1px solid #C4CBDB;
         position: relative;
         text-align: center;

         span {
             font-size: 24px;
             color: $secondary;
         }

         .percent {
             font-weight: 500;
             font-size: 56px;
             margin: 0 0 15px;
             height: 86px;

             &.sm-text {
                 font-size: 32px;
                 line-height: 77px;
             }
         }

         &:after,
         &:before {
             left: -1px;
             top: 50%;
             border: solid transparent;
             content: " ";
             height: 0;
             width: 0;
             position: absolute;
             pointer-events: none;
             transform: translateY(-50%);
         }

         &:after {
             width: 0;
             height: 0;
             border-style: solid;
             border-width: 16.5px 0 16.5px 13px;
             border-color: transparent transparent transparent #ffffff;
         }

         &:before {
             width: 0;
             height: 0;
             border-style: solid;
             border-width: 17.5px 0 17.5px 15px;
             border-color: transparent transparent transparent #c4cbdb;
         }
     }
 }
.secure-wrap{
.illustration{
    margin: 0 120px;
}

}
 .footer {
     border-top: 1px solid #DDE0E6;
     padding: 63px 0 23px;

     .f-logo {
         margin-bottom: 56px;

         img {
             width: 100px;
         }
     }

     .row {

         .col {
             flex: 0 0 20%;
             max-width: 20%;
         }

         .col-2 {
             flex: 0 0 40%;
             max-width: 40%;
         }
     }

     .label-heading {
         text-transform: uppercase;
         font-size: 12px;
         margin-bottom: 32px;
         font-weight: 400;
     }

     ul {
         list-style: none;
         padding: 0;
         margin: 0;

         li {
             font-size: 12px;
             line-height: 20px;
             text-transform: uppercase;
             color: #000000;
             margin-bottom: 23px;

             a {
                 color: #000000;
                 display: block;
             }

             span {
                 font-size: 14px;
                 color: #939AA7;
                 text-transform: none;
                 display: block;
             }
         }
     }

     .row.mt-40 {
         ul li a {
             text-transform: none;
             font-size: 18px;
             margin-bottom: 15px;
         }
     }
     .social{
        a{
            display:inline-block;
                margin-right: 30px;
        }
     }
 }

 @media (max-width: 1200px) {

     .navbar-light,
     .container-fluid {
         padding: 0 20px;
     }

     .navbar .main-menu {
         margin-left: 30px;
     }

     .header .navbar-light .main-menu .nav-item {
         margin: 0 10px;
         padding: 0;
     }
 }

 @media (max-width: 1100px) {
     .header .dropdown-menu-right {
         top: 50px;
     }

     .navbar .main-menu {
         margin: 0;
     }

     .navbar-light {
         padding: 0;
     }

     .navbar-collapse {
         padding: 25px 45px 45px;
         border-top: 1px solid #D6DBE4;
     }

     .main-menu .dropdown-menu li a.dropdown-item {
         text-transform: uppercase;
         padding: 10px 0;
     }

     .main-menu ul.dropdown-menu {
         padding: 0;
         border: none;
         margin-bottom: 20px;
     }

     .header .navbar-light .main-menu .nav-item {
         margin: 0;
         border-bottom: 1px solid #D6DBE4;
     }

     .header .navbar-light .main-menu .nav-link {
         padding: 23px 0;
     }

     .topbar {
         display: none;
     }

     .navbar-light .navbar-brand {
         color: rgba(0, 0, 0, .9);
         margin: 24px auto;
     }

     .dropdown-menu-right {
         right: auto;
         left: 0;
     }

     .dropdown-menu-right .dropdown-menu-arrow {
         left: 56px;
     }

     .dropdown-menu.dropdown-menu1 {
         min-width: 235px;
         padding: 0;

         .dropdown-item {
             padding: 15px 25px;
         }
     }

     .navbar-collapse .topul {
         display: flex;
         flex-wrap: wrap;
         margin-top: 33px;

         a {
             font-size: 16px;
             text-transform: uppercase;
             color: #000000;
         }

         li:last-child {
             width: 100%;
             margin: 10px 0 22px;

             a {
                 color: $brandblue;
             }
         }
     }
 }