$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@media (min-width: 1300px) {
    .container {
        max-width: 1270px;
    }
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-cyrillic_latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v18-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v18-cyrillic_latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v18-cyrillic_latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v18-cyrillic_latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v18-cyrillic_latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - cyrillic_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-cyrillic_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v18-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v18-cyrillic_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v18-cyrillic_latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - cyrillic_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v18-cyrillic_latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v18-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v18-cyrillic_latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v18-cyrillic_latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v18-cyrillic_latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v18-cyrillic_latin-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
}

a {
    color: #449bc4;

    &:hover {
        color: #dcc71a;
        text-decoration: none;
    }
}

.wrap {
    background: url(../img/bg1.png) no-repeat 50% 50%;
    background-size: cover;
}

.page .wrap {
    background: url(../img/bg1.png) no-repeat 50% 0;
}

.page .header {
    border: none;
}

.page .header:before {
    display: none;
}

.top-filter {
    background-color: #dce8ee;
    border-bottom: 1px solid #d3e3eb;
    padding: 25px 0;

    .add-route-btn {
        background: url(../img/plus.png) no-repeat 0 50%;
        color: #4396bd;
        font-size: 14px;
        padding-left: 26px;
        display: block;
        line-height: 17px;
    }

    .search-item .form-group {
        margin-bottom: 25px;
    }
}

.wrap-cn {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 148px);
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-tabs-vertical .nav-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid #e4eaec;
    border-bottom: none;
}

.nav-tabs-vertical .tab-content {
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.nav-tabs-vertical .nav-tabs .nav-item {
    float: none;
    margin-right: -1px;
    margin-bottom: 2px;
    margin-left: 0;
}

.nav-tabs-vertical::after {
    display: block;
    clear: both;
    content: "";
}

.nav-tabs-vertical .nav-tabs .nav-item {
    float: none;
    margin-right: -1px;
    margin-bottom: 2px;
    margin-left: 0;
}

.nav-tabs-vertical .nav-tabs .nav-link {
    border-radius: .286rem 0 0 .286rem;
}

.nav-tabs-vertical .nav-tabs .nav-link:hover {
    border-right-color: #e4eaec;
    border-bottom-color: transparent;
}

.nav-tabs-vertical .nav-tabs .nav-link.active,
.nav-tabs-vertical .nav-tabs .nav-link.active:focus,
.nav-tabs-vertical .nav-tabs .nav-link.active:hover {
    border-right-color: #3e8ef7;
    border-bottom-color: transparent;
}



.nav-tabs-vertical .tab-content {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #1d607f;
    position: relative;

    &:before {
        position: absolute;
        display: block;
        content: '';
        background-color: #45a6d3;
        height: 1px;
        width: 100%;
        bottom: -2px;
    }

    a.logo {
        margin: 0;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none;
        }

        span {
            color: #fff;
            font-weight: 700;
            line-height: 16px;
            margin-left: 25px;
            margin-top: 3px;
        }
    }

    .main-menu {
        display: flex;
        margin: 0 auto;

        li {
            margin: 0 30px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #fff;
                border-bottom: 1px solid transparent;
                padding: 5px 3px;

                &:hover {
                    text-decoration: none;
                    color: #e7d435;
                }

            }

            a.active {
                color: #e7d435;
                font-weight: 700;
                border-bottom: 1px solid #e7d435;

            }
        }
    }

    .right-header {
        display: flex;

        .btn {
            align-self: center;
        }

        .lang {
            display: flex;
            margin: 0 30px 0 0;

            li {
                align-self: center;
                line-height: 15px;

                a {
                    color: #fff;
                    font-weight: bold;

                    &:hover {
                        text-decoration: none;
                        color: #e7d435;
                    }
                }

            }

            li.active {
                a {
                    color: #e7d435;
                }
            }

            li:first-child {
                padding-right: 8px;
                margin-right: 8px;
                border-right: 1px solid #e7d435;
            }
        }
    }
}

.btn {
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 25px;
    transition: all .15s ease;
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.btn-warning {
    background-color: #e7d435;
    border-color: #e7d435;
    color: #000;

}

.page-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 40px 0;

    .tab-search {
        background-color: #177caa;
        border-radius: 7px;
        box-shadow: 1px 0.3px 4px rgba(0, 0, 0, 0.49);
        display: flex;
        width: 100%;

        .nav-tabs {
            overflow: hidden;
            border-radius: 7px 0 0 7px;
            min-width: 130px;
            border: none;
            position: relative;
            z-index: 1;

            .nav-item {
                margin: 0;
                border-bottom: 1px solid #2187b5;

                &:last-child {
                    border: none;
                }

                .nav-link {
                    border-radius: 0;
                    border: none;
                    color: #64b2d5;
                    text-align: center;
                    padding: 20px 6px 20px 0;

                    &.active,
                    &.active:hover {
                        background-color: #e7d435;
                        border-radius: 0;
                        color: #177caa;

                    }

                    &:hover {
                        background-color: #13719c;
                    }

                    &:hover svg {}

                    svg {
                        fill: #64b2d5;
                        max-width: 52px;
                    }

                    &.active svg {
                        fill: #177caa;
                    }

                    .flights-svg {
                        width: 38px;
                    }

                    .train-svg {
                        width: 42px;
                    }

                    .tours-svg {
                        width: 49px;
                    }

                    span {
                        display: block;
                        margin-top: 10px;
                    }
                }

            }

        }

        .tab-content {
            background-color: #fff;
            border-radius: 7px;
            flex-grow: 1;
            border: none;
            margin-left: -6px;

            .tab-pane {
                position: relative;
                height: 100%;
                padding: 20px;

                .tab-info {
                    position: relative;
                    z-index: 10;
                }

                h3 {
                    color: #acacac;
                    font-size: 24px;
                    line-height: 1;
                    margin-bottom: 25px;
                }

                svg {
                    position: absolute;
                    width: 207px;
                    fill: #f4f4f4;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                }

            }

        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 15px;
    align-items: center;

    .social {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: center;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        img {
            width: 18px;
            height: 18px;
        }

        a {
            color: #acacac;
            line-height: 26px;
        }
    }

    .f-logo {
        width: 120px;
        display: block;
    }

    .footer-logoes {
        display: flex;
        align-items: center;

        li {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .first-item {}

    .second-item {
        p {
            color: #aaa;
            font-size: 12px;
            margin: 13px 0 0;
            line-height: 19px;
        }
    }

    .tel {
        background: url(../img/phone.png) no-repeat 0 50%;
        padding-left: 45px;
        line-height: 1;

        span {
            color: #449bc4;
            font-size: 14px;
            font-weight: 400;
        }

        div {
            color: #449bc4;
            font-size: 18px;
            margin-top: 5px;
        }
    }
}

.footer-menu {
    display: flex;
    margin-top: 6px;

    li {
        margin-right: 30px;

        a {
            font-size: 14px;
            font-weight: 700;
        }
    }
}

.touch-wrap {
    max-width: 300px;
}

.touch-spin {
    text-align: left;
    border-radius: 0px;
    box-shadow: none;
    width: 99%;
}

.signup .touch-spin {
    border: 1px solid #acb4bc;
}

.search-item {
    .form-group {
        display: flex;

        img {
            margin-top: 8px;
            margin-right: 10px;
            max-width: 20px;
            align-self: baseline;
        }

        .form-wrap {
            flex-grow: 1;

            span {
                color: #000;
                font-size: 12px;
                margin-top: 5px;
                display: block;

            }
        }
    }
}

.form-control {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    font-size: 14px;
}

.flexdatalist-results li {
    position: relative;
}

.flexdatalist-results li .item-iso3 {
    display: block;
    position: absolute;
    top: 8px;
    color: #90a4ae;
    right: 15px;
    font-size: 12px;
}

.flexdatalist-results li .item-name {
    color: #3a3838;
}

.flexdatalist-results li .item-capital {
    color: #90a4ae;
}

.flexdatalist-results li.active span {
    color: #fff;
}

.add-route-div {
    position: relative;
    text-align: center;

    &:after {
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #bebebe;
        position: absolute;
        top: 10px;
        left: 0;
    }

    .add-route-btn {
        color: #a5a5a5;
        font-size: 14px;
        text-decoration: none;
        background: #fff;
        display: inline-block;
        position: relative;
        z-index: 9;
        padding: 0 30px;

        img {
            margin-right: 10px;
            margin-top: -3px;
        }
    }
}

.touch-wrap {
    .input-group {
        flex-wrap: nowrap;

        .input-group-btn {
            .btn {
                height: 100%;
                background-color: #fff;
                color: #76838f;
                border-radius: 7px;
                border: 1px solid #bbb;
                font-size: 23px;
                padding: 0px;
                width: 35px;
                text-align: center;
                font-weight: 400;
            }

            &:not(:last-child)>.btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:not(:first-child)>.btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-left: -1px;
                color: #177caa;
            }

            &:first-child>.btn {
                margin-right: -1px;
            }
        }

        .form-control {
            border-right: none;
            border-radius: 0;
            max-width: 35px;
            text-align: center;
            box-shadow: none;
            padding-right: 0;
            font-size: 13px;
            height: auto;
            color: #000;
            background-color: #fff;
        }

        .input-group-addon {
            border: 1px solid #ccc;
            border-left: none;
            font-weight: 400;
            line-height: 1.5;
            padding: 8px .75rem 8px 0;
            font-size: 13px;
            background-color: #fff;
        }
    }
}

.additional-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    .item {
        display: flex;
        margin-right: 30px;

        img {
            align-self: center;
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
.btn-group {

        .btn-warning {
            border: none;
            padding: 8px 25px;
            box-shadow: none;
        }

        .dropdown-menu {
            top: calc(100% - 12px);
            min-width: 100%;
            color: #212520;
            background-color: #e7d435;
            border: none;
            border-radius: 0 0 7px 7px;
            padding-top: 5px;
            padding-bottom: 4px;
            box-shadow: 1px 1px 9px 0px #d8d8d8;
        }

        .dropdown-item {
            font-size: 14px;
            border-bottom: none;
        }

        .dropdown-item {
            padding: 3px 1.5rem;
            font-weight: 700;
            color: #212529;
            background-color: transparent;
            border: 0;
        }

        .btn-warning:not(:disabled):not(.disabled).active:focus,
        .btn-warning:not(:disabled):not(.disabled):active:focus {
            box-shadow: none;

            &:after {
                border-left-color: #d39e00;
            }

        }

    }
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-warning:not(:disabled):not(.disabled).active,
    .btn-warning:not(:disabled):not(.disabled):active,
    .show>.btn-warning.dropdown-toggle {
        background-color: #e7d435;
        border-color: #e7d435;
        color: #000;
    }
.btn-warning:hover {
    background-color: #e0cd2d;
    border-color: #e0cd2d;
    box-shadow: 1px 4px 12px 1px #bfbebe;
}

.close-filters {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 5px;

    svg {
        stroke: #9e9c9c;
    }
}

.top-filter .add-route-btn:hover {
    text-decoration: underline;
    filter: brightness(0.8);
}

.add-route-div .add-route-btn:hover {
    color: #449bc4;
}

.custom-control:hover label {
    color: #4396bd;
    cursor: pointer;
}

.filter-sidebar .custom-control:hover label {
    color: #0371a5;
}

.touch-wrap .input-group .input-group-btn .btn:hover {
    background-color: #177caa;
    color: #fff;
}

.dropdown-item {
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.wow {
    visibility: hidden;
}

.ham1 {
    display: none;
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 138, 187, 0.9);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.repeatable-form {
    position: relative;
}

.search-item {}

.remove {
    position: relative;
    left: 15px;
    top: 8px;
    background-color: #d16666;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    line-height: 19px;
    text-align: center;
}

.tabs-flight {
    display: flex;
    width: 100%;
    background-color: #dce8ee;
    border-radius: 7px;

    li {
        width: 50%;

        a {
            color: #907d7d;
            font-size: 16px;
            display: block;
            padding: 10px 0;
            text-align: center;

            &.active {
                background-color: #4396bd;
                border-radius: 7px;
                color: #fff;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.product-list {
    &-item {
        padding: 20px;
        margin-top: 20px;
        background: #fff url(../img/flights.svg) no-repeat 100% 100%;
        background-size: 200px 200px;
        border-radius: 7px;
        box-shadow: 0 0 3.8px 0.2px rgba(42, 129, 170, 0.4);
        display: flex;
        position: relative;
    }

    .ticket_buy-col {
        max-width: 180px;
        padding-right: 20px;
        border-right: 1px solid #bbbbbb;

        .btn-warning {
            display: block;
            margin-bottom: 10px;
            line-height: 20px;

            strong {
                display: block;
                font-size: 16px;
            }

            span {
                font-weight: 400;
                color: #000;
                font-size: 14px;
            }
        }

        span {
            color: #a6a6a6;
            font-size: 12px;
        }

        p {
            color: black;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            margin: 5px 0;
        }
    }

    .ticket_content {
        flex-grow: 1;
        padding-left: 20px;
        padding-right: 40px;

        .segment-route {
            display: flex;
        }
    }
}

.ribbon {
    right: -14px;
    left: auto;
    position: absolute;
    top: -3px;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: transparent;

    &:before {
        border: 7px solid transparent;
        border-right-color: transparent;
        border-left-color: #37a66b;
        border-top-color: #37a66b;
        right: 0;
        left: auto;
        position: absolute;
        top: 46px;
        width: 0;
        height: 0;
        content: "";

    }

    .ribbon-inner {
        padding-right: 23px;
        padding-left: 15px;
        border-radius: 5px 0 0 5px;
        background-color: #3cbb78;
        right: 0;
        left: auto;
        font-size: 13px;
        position: absolute;
        top: 16px;
        display: inline-block;
        max-width: 100%;
        height: 30px;
        overflow: hidden;
        line-height: 30px;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.segment-route {
    margin-top: 20px;

    .route-path {
        position: relative;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px 0 30px;

        span.text {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 2px;
            font-size: 12px;
            color: #575757;
        }

        img {
            position: relative;
            z-index: 10;
        }

        &:before {
            content: "";
            position: absolute;
            left: 5px;
            right: 5px;
            top: 50%;
            border-bottom: 2px dashed #747474;

        }
    }

    .route__time {
        color: #000;
        font-size: 24px;
        font-weight: 400;
    }

    .route__city {
        color: #a6a6a6;
        font-size: 14px;
    }

    .route__date {
        color: #a6a6a6;
        font-size: 12px;
    }
}

.custom-control {
    margin-bottom: 6px;
}

.custom-control-label {
    font-size: 12px;
    color: #000;
}

.custom-control-label::before,
.custom-control-label::after {
    top: 1px;
}

.inner-title {
    display: flex;
    color: #8ecce9;
    font-size: 17px;
    font-weight: 700;
    align-items: center;

    svg {
        width: 21px;
        height: 21px;
        margin-right: 25px;
    }
}

.filter-sidebar {

    .collapse-title {
        color: #000;
        font-size: 16px;

        &::before {
            display: inline-block;
            margin-right: 15px;
            vertical-align: 3px;
            content: "";
            border-top: .4em solid;
            border-right: .4em solid transparent;
            border-bottom: 0;
            border-left: .4em solid transparent;
            color: #2980a8;
        }
    }

    .collapse-title.collapsed:before {
        transform: rotate(-90deg);
    }

    .collapse {
        margin: 20px 0;
    }

    .custom-control-label {
        color: #4396bd;
    }
}

hr.dot {
    border-top: 2px dotted #dce8ee;
    margin: 20px 0;
}

.grey-bg {
    background-color: #f2f2f2;
    padding: 30px 0;
}

.tooltip-inner {
    color: #000000;
    font-size: 12px;
    text-align: left;
    background-color: #e7d435;
    font-weight: 400;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #e7d435;
}

.ticket-links {
    a {
        font-size: 12px;
        color: #000000;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            color: #dcc71a;
        }

        img {
            margin-right: 5px;
            vertical-align: -3px;
        }

        &:first-child {
            margin-right: 15px;
        }
    }
}

.jivo {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 65px;
    height: 65px;
    z-index: 25;
    cursor: pointer;
    background: url(../img/envelope.svg) no-repeat;
    transition: all .3s;

    svg {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
        transition: all .3s;

    }

    &:hover svg {
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    }
}

.bd-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

.bd-example-modal .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
}

.fligts-reg {
    margin-bottom: 20px;

    span {
        background-color: #989898;
        border-radius: 10px;
        display: block;
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        padding: 15px 0;
    }
}

.yellow-modal {
    .modal-dialog {
        max-width: 1100px;

        .modal-content {
            border: none;

            .modal-header {
                background-color: #e7d435;
                border: none;

                .modal-title {
                    color: #000;
                    font-size: 20px;
                }

                .close {
                    font-size: 2rem;
                    font-weight: 400;
                    color: #000;
                    opacity: 1;
                }
            }

            .modal-body {}

            .modal-footer {
                background-color: #e7d435;
                color: #000;
                font-size: 14px;
                justify-content: flex-start;
                border: none;
            }
        }
    }

}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #4396bd;
}

a.top-filter-link {
    background-color: #4396bd;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 13px;
    display: none;

    span,
    img {
        margin-right: 5px;
    }

    img {
        filter: brightness(100);
        max-width: 13px;
    }

    span:last-child {
        color: #e7d435;
        font-weight: 500;
        text-decoration: underline;
    }
}

.ul-img {
    li {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    img {
        margin-right: 11px;
        vertical-align: -6px;
    }
}

.page-content {
    font-size: 18px;
    line-height: 28px;
    color: #171717;

    p {
        margin-bottom: 25px;
    }
}

.page-title {
    font-size: 35px;
    color: #449bc4;
    margin: 0;
}

.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: #449bc4;
}

.accordion a:hover::after {}

.accordion a.active {
    color: #449bc4;
    border-bottom: 1px solid #449bc4;
}

.accordion a::after {
    background: url(../img/chevron-down.svg) no-repeat;
    position: absolute;
    right: 1rem;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
}

.accordion a.active::after {
    color: #449bc4;
    transform: rotate(180deg)
}

.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0;
}

.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
    background-color: #fff;
}
.page-wrap .tab-search .tab-content .tab-pane .grey-light-bg svg {
    position: absolute;
    width: 216px;
    fill: #f4f4f4;
    bottom: -20px;
    left: 50%;
    right:inherit;
    z-index: 1;
    max-width: 100%;
    transform: translateX(-50%);
}
@media only screen and (max-width: 1300px) {
    .header .main-menu li {
        margin: 0 13px;
    }
}

@media only screen and (max-width: 1200px) {
    .product-list .ticket_content {
        padding-right: 20px;
    }

    .top-filter {
        .col-md-3 {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .additional-fields {
            flex-wrap: nowrap;
            margin: 20px 0 0;

            .item {
                margin-bottom: 0;
            }
        }
    }

    .header {
        padding: 15px 0 7px;
        flex-wrap: wrap;
    }

    .header .right-header {
        margin-left: auto;
    }

    .header .main-menu {
        margin: 14px 0 0;
        order: 2;
        width: 100%;
    }

    .header .main-menu li a.active {
        border-bottom: 2px solid #e7d435;
    }

    .header .main-menu li a {
        padding: 5px 3px 8px;
    }

    .search-item .col-md-4 {
        flex: 0 0 30%;
        max-width: 30%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .search-item .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .search-item.row {
        margin-right: -10px;
        margin-left: -10px;
    }

    .clear-sm {
        max-width: 100%;
        flex: 0 0 100%;

    }

    .additional-fields {
        flex-wrap: wrap;
        margin: 20px 0 0;
    }

    .additional-fields .item {
        margin-bottom: 30px;
    }

    .second-item {
        width: 60%;
        margin-left: 30px;

        p br {
            display: none;
        }
    }

    .footer {
        justify-content: flex-start;
        position: relative;
    }

    .footer .tel {
        background: url(../img/phone.png) no-repeat 0 50%;
        padding-left: 45px;
        line-height: 1;
        position: absolute;
        top: 35px;
        right: 15px;
    }

    .third-item {
        position: absolute;
        right: 15px;
        top: 78px;
    }

    .footer .footer-logoes li img {
        max-width: 40px;
        max-height: 22px;
    }

    .footer .tel span {
        display: none;
    }

    .footer .tel div {
        margin-top: 0;
        padding: 7px 0;
    }
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #177caa;
    background-color: #177caa;
}

.grey-light-bg {
    background-color: #fbfbfb;

}

#train {

    .grey-light-bg {
        margin: 0 -20px -20px;
        padding: 20px;
    }
}
.table{
    margin-bottom:0;
}
.table thead th {
    vertical-align: bottom;
    border:none;
    font-weight:700;
    font-size: 13px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}
.table td, .table th {
    padding: 7px 10px;
    vertical-align: top;
    border: none;
    font-size:14px;
    font-weight:400;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.back-date{
    display: none!important;
}
.back-date.active{
    display: flex!important;
}
@media (min-width:991px) {
    .top-filter .collapse:not(.show) {
        display: block;
    }

    #open-filters,
    .close-filters {
        display: none;
    }

    .search-item .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .search-item .col-md-4 {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .train-check {
    order: -1;
    margin-right: auto;
}
}

@media only screen and (max-width: 991px) {
    .repeatable-form {
        position: relative;
        background-color: #fff;
        padding: 10px 0 0;
        margin-bottom: 15px;
    }

    .remove {
        position: absolute;
        right: -4px;
        top: -10px;
        left: inherit;
    }

    a.top-filter-link {
        display: block;
    }

    .product-list-item {
        flex-direction: column;
        padding: 15px;
    }

    .product-list .ticket_buy-col {
        max-width: 100%;
        padding-right: 0;
        border-right: none;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        border-top: 1px solid #ddd;
        padding-top: 5px;
    }

    .product-list .ticket_content {
        padding: 0;
    }

    .segment-route .route__city {
        font-size: 12px;
    }

    .segment-route .route__time {
        font-size: 20px;
    }

    .segment-route .route__date {
        font-size: 11px;
    }

    .segment-route .route-path span.text {
        font-size: 11px;
        line-height: 1;
    }

    .fligts-reg .col-sm-6 {
        padding: 0 15px !important;
        margin-bottom: 5px;
    }

    .fligts-reg span {
        font-size: 12px;
        font-weight: 700;
        padding: 10px 0;
    }

    .jivo {
        right: 5px;
        bottom: 5px;
        width: 45px;
        height: 45px;
    }

    .product-list .ticket_buy-col .btn-warning {
        order: 2;
        margin: 13px 0 0;
    }

    .product-list .ticket_buy-col p {
        display: inline-block;
        margin: 5px 0 5px 10px;
    }

    .product-list .ticket_buy-col .btn-warning strong {
        display: inline-block;
    }

    .form-wrap {
        display: flex;
        margin-top: 5px;
        flex-wrap: wrap;

        .custom-control {
            margin-right: 20px;
        }
    }

    .grey-bg {
        padding-top: 0;
    }

    .tabs-flight li a {
        font-size: 12px;
    }

    #filter-collapse {
        margin-bottom: 20px;
    }

    #flight-filters {
        position: fixed;
        width: 256px;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 15px;
        border-left: solid 1px #bbb;
        overflow: auto;
        z-index: 100000;
        visibility: hidden;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%)
    }

    #flight-filters.open {
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    .filter-overlay {
        background: rgba(255, 255, 255, .5);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99998;
    }

    #open-filters {
        color: #fff;
        background: #333;
        position: fixed;
        right: -12px;
        top: 50%;
        cursor: pointer;
        z-index: 1000;

        vertical-align: top;
        transform: rotate(-90deg) translate(0, 100%);
        border-radius: 5px 5px 0 0;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px 13px;
        background-color: #e7d435;
        -webkit-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
        color: #212529;
        border: none;
        cursor: pointer;
    }

    #open-filters {
        display: inline-block
    }

    .top-filter .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .top-filter .top-filter-wrap .search-item>div:last-child {
        margin: 0 auto 20px;
        text-align: center;

        .add-route-btn {
            display: inline-block;
        }
    }

    .additional-fields {
        margin: 20px -10px 0;
    }

    .inner-title {
        display: none;
    }

    .top-filter {
        border: none;
        background-color: #f2f2f2;

        .top-filter-wrap {
            border: 1px solid #4396bd;
            padding: 15px;
        }
    }

    .top-filter .additional-fields {
        flex-wrap: wrap;
        margin: 20px 0 0;

        .item:last-child {
            justify-content: center
        }
    }

    .additional-fields .item {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 0 0 20px !important;
        padding: 0 10px;
    }

    .touch-wrap .input-group .input-group-addon {
        flex-grow: 1;
    }

    .search-item .col-md-4,
    .search-item .col-md-2,
    .search-item .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px !important;
    }

    .additional-fields .btn-group {
        width: calc(100% - 17px);
    }

    .touch-wrap {
        max-width: 100%;
        width: 100%;
    }

    .page-wrap .tab-search .nav-tabs {
        min-width: 100px;
    }

    .page-wrap .tab-search .nav-tabs .nav-item .nav-link svg {
        max-width: 30px;
    }

    .page-wrap .tab-search .nav-tabs .nav-item .nav-link span {
        margin-top: 4px;
    }

    .page-wrap .tab-search .tab-content .tab-pane svg {
        width: 150px;
    }

    .footer .footer-logoes li:not(:first-child) {
        margin-left: 20px;
    }

    .footer .social a span {
        display: none;
    }

    .footer .social img {
        margin-right: 0;
    }

    .footer .social li {
        margin-right: 10px;
    }

    .footer {
        padding: 20px 15px;
    }

    .wrap-cn {
        min-height: calc(100vh - 80px);
    }

    .header .right-header .lang li a {
        font-size: 13px;
    }

    .ticket_buy-col>div {
        text-align: center;
    }

    .segment-route .route-path {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 767px) {

    .footer .tel,
    .third-item {
        position: static;
        width: 50%;
    }
.page-wrap .tab-search .tab-content .tab-pane .grey-light-bg svg{
    display: none;
}
.page-wrap .tab-search .tab-content .tab-pane .grey-light-bg .text-center{
    text-align:left!important;
    margin-bottom:10px;
}
    .first-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: self-start;
    }

    .tabs-flight {
        flex-direction: column;

        li {
            width: 100%;
        }
    }

    .third-item {
        position: absolute;
        right: 15px;
        bottom: 27px;
        top: inherit;
        text-align: right;
    }

    .footer {
        padding: 20px 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .second-item {
        width: 100%;
        margin: 15px 0;
    }

    .footer .footer-logoes {
        justify-content: flex-end;
    }

    .footer-menu {
        flex-wrap: wrap;
    }

    .footer-menu li a {
        color: #449bc4;
        font-size: 13px;
        font-weight: 700;
    }

    .footer-menu li {
        margin-right: 12px;
    }

    .header .right-header .lang {
        margin: 0 15px 0 0;
    }

    .btn {
        padding: 7px 15px;
    }

    .header .logo img {
        max-width: 110px;
    }

    .header .logo span {
        display: none;
    }

    .header .main-menu li {
        margin: 0 7px;
    }

    .page-wrap .tab-search .nav-tabs {
        min-width: 60px;
    }

    .page-wrap .tab-search .nav-tabs .nav-item .nav-link span {
        display: none;
    }

    .additional-fields .item>img {
        width: 23px;
    }

    .touch-wrap .input-group .form-control {
        max-width: 25px;
        width: 25px;
        font-size: 13px;
        line-height: 1.5;
        padding-left: 0;
    }

    .additional-fields .item {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    .additional-fields {
        flex-direction: column;
    }
}

@media only screen and (max-width: 520px) {


    .additional-fields .btn-group {
        width: auto;
    }

    .top-filter .additional-fields .item:first-child {
        justify-content: center;
    }

    .search-item .col-md-4,
    .search-item .col-md-3,
    .search-item .col-md-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .search-item .form-group img {
        width: 22px;
    }



    .footer .footer-logoes li:not(:first-child) {
        margin-left: 10px;
    }

}





@media only screen and (max-width: 450px) {
    .page .header {
        border: none;
        padding: 10px 0;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 50px;
        width: 50px;
        overflow: hidden;
        z-index: 999;
        display: block;
    }

    .hamRotate.is-open {
        transform: rotate(45deg);
    }

    .hamRotate180.is-open {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #fff;
        stroke-width: 5.5;
        stroke-linecap: round;
    }

    .ham1 .top {
        stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }

    .ham1.is-open .top {
        stroke-dashoffset: -98px;
    }

    .ham1.is-open .bottom {
        stroke-dashoffset: -138px;
    }



    .main-nav.is-open {
        opacity: 1;
        z-index: 100;
        visibility: visible;
    }



    /* Skewing effect on menu links */
    .main-nav ul {
        display: inline-flex;
        flex-direction: column;
        height: 93%;
        /* Should be 100%, but we have a notice message :D */
        align-items: flex-end;
        justify-content: center;
    }

    .main-nav li {
        display: block;
        margin: .5rem 0;
        text-align: left;
        width: 100%;
    }

    /* Apparition effect on links */
    .main-nav a {
        opacity: 0;
        transform: translateY(-10px);
    }

    .main-nav.is-open a {
        opacity: 1;
        transform: translateY(0);
    }

    .main-nav li:nth-child(1) a {
        transition: all 275ms 175ms
    }

    .main-nav li:nth-child(2) a {
        transition: all 275ms 225ms
    }

    .main-nav li:nth-child(3) a {
        transition: all 275ms 275ms
    }

    .main-nav li:nth-child(4) a {
        transition: all 275ms 325ms
    }

    .main-nav li:nth-child(5) a {
        transition: all 275ms 375ms
    }


    /* Decoration */
    .main-nav ul,
    .main-nav li {
        list-style: none;
        padding: 0;
    }

    .main-nav a {
        display: block;
        padding: 12px 0;
        color: #fff;
        font-size: 1.4em;
        text-decoration: none;
        font-weight: bold;
    }

    .header .main-menu,
    .header:before {
        display: none;
    }

    .header {
        border: none;
        padding: 20px 0 0;
    }
}